.fullPageCenter {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: lightseagreen;
}

a:hover, a:active {
    text-decoration: none;
    color: darkmagenta !important;
}

.title {
    color: lightseagreen;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.table {
    color: #333; /* Lighten up font color */
    font-family: Ubuntu, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}