.fullPageCenter {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: lightseagreen;
}

a:hover, a:active {
    text-decoration: none;
    color: darkmagenta !important;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    color: lightseagreen;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.gameBoard {
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: #777777;
}

.gameBoard thead td {
    padding: 10px;
}

.container {
    text-align: center;
}

.message {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #777777;
}

table {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
    width: 80px
}

/* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}